/* CSS */

.table {
  display: inline-block;
  border: 1px solid black;
  border-radius: .75rem;
  width: 100%;
}

.name {
  display: flex;
}

.row {
  display: flex;
}

.button-40, .button-name {
  --fontSize: 16px;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color:  #111827;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: var(--fontSize);
  font-weight: 600;
  line-height: 1.5rem;
  padding: .20rem 1rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .4s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-name {
  background-color: #111827;
  color: #FFFFFF;
  width: 8rem;
}

.button-40:hover {
  background-color: #60718c;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
 }
 
 form label {
  margin-bottom: 0.5em;
 }
 
 form input[type="text"] {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
 }
 
 form input[type="submit"] {
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
 }
 
 form input[type="submit"]:hover {
  background-color: #0056b3;
 }
 
/* @media (min-width: 768px) {
  .button-40, .button-name{
    
  }
} */
/* @media screen and (min-width:600px) {
  .table {
    width: 100%; 
    90vw;
    font-size: auto;
  }
} */