.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #111827;
  border-radius: .75rem;
  min-height: 70px;
  color:  #ffffff;
}

.logo {
  font-size: 30px;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:  #ffffff;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.navMenu {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 60px;
 list-style-type: none;
}

.navLink {
  font-size: 16px;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:  #ffffff;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}